<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>MAP</ion-title>
    <ion-label>{{this.groupsSvc.verbose}}</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="presentSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map [latitude]="latitude" [longitude]="longitude">
    <agm-marker *ngFor="let group of groupsSvc.groups$ | async" 
      [latitude]="group.point.geopoint.latitude" 
      [longitude]="group.point.geopoint.longitude"
      (markerClick)="clickedMarker( infoWindow )">
      <agm-info-window  #infoWindow>
        {{group.name}}<br/>
        {{group.location.name}}<br/>
        {{group.location.address1}}<br/>
        {{group.location.address2}}<br/>
        {{group.location.city}}, {{group.location.state}} {{group.location.zip}}<br/>
        <!-- {{group.hitMetadata.distance}}<br/> -->
        {{group.schedules[0].time}} {{group.schedules[0].day}}<br/>
        <ion-button (click)="details(group)">details</ion-button>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</ion-content>
