<ion-tabs>
  <!-- Search, Map, Admin -> Info, Group Feed, Calendar, Ride Request (Notice), Attendance -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label translate>SEARCH</ion-label>
      <!-- Details (location, zoom), Feed, Posts, Events -->
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label translate>MAP</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label translate>FAVORITES</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label translate>CALENDAR</ion-label>
      <!-- Schedule, Events, Birthdays -->
    </ion-tab-button>

    <!-- <ion-tab-button tab="messages">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="sponsors">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Sponsors</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>