# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

private/

# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

#!/plugins/cordova-universal-links-plugin/hooks/lib/ios/xcodePreferences.js

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

/src/environments

.firebase/

!resources/
resources/*
!resources/icon.png
!resources/splash.png

!resources/images

cordova-plugin-zoom.device.4.6.21666.0603/

# !plugins/
# plugins/*
# !plugins/cordova-plugin-zoom.simulator.4.6.21666.0603/
# !plugins/cordova-plugin-zoom.simulator.4.6.21666.0603/www

# !resources/android
# resources/android/*
# !resources/android/xml
# resources/android/xml/*
# !resources/android/xml/network_security_config.xml

# !plugins/
# plugins/*
# !plugins/cordova-universal-links-plugin/
# plugins/cordova-universal-links-plugin/*
# !plugins/cordova-universal-links-plugin/hooks
# plugins/cordova-universal-links-plugin/hooks/*
# !plugins/cordova-universal-links-plugin/hooks/lib
# plugins/cordova-universal-links-plugin/hooks/lib/*

# !plugins/cordova-universal-links-plugin/hooks/lib/ios
# plugins/cordova-universal-links-plugin/hooks/lib/ios/*
# !plugins/cordova-universal-links-plugin/hooks/lib/ios/xcodePreferences.js

# !plugins/cordova-universal-links-plugin/hooks/lib/android
# plugins/cordova-universal-links-plugin/hooks/lib/android/*
# !plugins/cordova-universal-links-plugin/hooks/lib/android/manifestWriter.js





