<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="admin">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="minutes">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Minutes</ion-label>
    </ion-tab-button>
<!-- 
    <ion-tab-button tab="host">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Host</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>


