<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <!-- <ion-title *ngIf="signup" translate>TITLE.SIGNUP.NEW</ion-title>
    <ion-title *ngIf="!signup" translate>TITLE.SIGNIN.EXISTING</ion-title> -->
    <ion-title translate>TITLE.APP_NAME</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="authService.loading" class="ion-text-center">Loading...</p>
  <ng-template [ngIf]="!authService.loading">
    <ion-button
      button
      expand="block"
      color="primary"
      *ngIf="!authService.isAuthenticated"
      (click)="authService.signIn()">Sign In</ion-button>
      <br>
      <ion-button
        button
        expand="block"
        color="danger"
        *ngIf="authService.isAuthenticated"
        (click)="authService.signOut()">Log Out</ion-button>
  </ng-template>
</ion-content>
