<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label translate>SEARCH</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="attendance">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Attendance</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="friends">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Friends</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="messages">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>